<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../adminPartials/head %>
    <% include ../adminPartials/import-css %>
</head>
<body>
  <div class="container">
    <h1>Welcome to admin dashboard page</h1>
  </div>


  <% include ../adminPartials/import-js %>
  
</body>
</html>
