<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../adminPartials/head %>
    <% include ../adminPartials/import-css %>
      <title>Dashboard</title>
</head>

<body>
  <h1>Welcome to admin dashboard</h1>

  <% include ../adminPartials/import-js %>
</body>

</html>