<section class="about">
  <div class="container">
    <div class="row">
      <h1 class="title_head">About</h1>
      <div class="block"></div>
      <p class="about-kaushik">
        <strong>Kaushik</strong> is trying to grow up, but instead spends most of his time making stuff on the web. He was raised in the streets of
        <strong>Coimbatore</strong> , but currently resides in Bangalore and finds pleasure in being able to walk to work. When not at
        <strong>Geeksynergy</strong> offices creating the internet, he is most likely with his family telling jokes that are only sometimes funny.Not better, or even important. Just more things I make that don't fit anywhere else on this website.</p>
    </div>
  </div>
</section>

<section class="about white-bg">
  <div class="container">

    <div class="row">
      <div class="row">
        <div class="six columns">
          <h3 class="sub__title">
                        <span class="typcn typcn-cog-outline icon"></span>Make a deadline</h3>
          <p class="normal-font">In my experience, there is nothing that provides more motivation, inspiration, and pressure to complete than a deadline. The more public, the more hardline, the more grave the consequence for failure — the better!
          </p>
        </div>
        <div class="six columns">
          <h3 class="sub__title">
                        <span class="typcn typcn-lightbulb icon"></span>Skills</h3>
          <div class="container-skills">
            <div class="html">
              <p class="bar-title">
                HTML / HTML5 & CSS
                <span class="percent align-right">90%</span>
              </p>
              <div class="bar">
                <div class="bar-fill bar-fill-html start"></div>
              </div>
            </div>
            <div class="javascript">
              <p class="bar-title">
                Javascript(Node.js)
                <span class="percent align-right">60%</span>
              </p>
              <div class="bar">
                <div class="bar-fill bar-fill-javascript start"></div>
              </div>
            </div>
            <div class="jquery">
              <p class="bar-title">
                JQuery
                <span class="percent align-right">70%</span>
              </p>
              <div class="bar">
                <div class="bar-fill bar-fill-jquery start"></div>
              </div>
            </div>
            <div class="responsive-design">
              <p class="bar-title">
                Responsive Design
                <span class="percent align-right">90%</span>
              </p>
              <div class="bar">
                <div class="bar-fill bar-fill-responsive start"></div>
              </div>
            </div>
            <div class="photoshop">
              <p class="bar-title">
                Photoshop
                <span class="percent align-right">20%</span>
              </p>
              <div class="bar">
                <div class="bar-fill bar-fill-photoshop start"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>