<section id="team">
  <div class="container">

    <div class="row">
      <h1 class="title_head">Gallery</h1>
      <div class="block"></div>

      <div class="grid">
        <div class="card span-1 c-1" style="background-image: url(/images/insta_1.jpg);"></div>
        <div class="card span-2 c-3" style="background-image: url(/images/insta_2.jpg);"></div>
        <div class="card span-3 c-4" style="background-image: url(/images/insta_3.jpg);"></div>
        <div class="card span-1 c-3" style="background-image: url(/images/insta_4.jpg);"></div>
        <div class="card span-2 c-5" style="background-image: url(/images/insta_5.jpg);"></div>
        <div class="card span-1 c-2" style="background-image: url(/images/insta_0.jpg);"></div>
        <div class="card span-3 c-3" style="background-image: url(/images/insta_6.jpg);"></div>
        <div class="card span-1 c-3" style="background-image: url(/images/insta_7.jpg);"></div>
        <div class="card span-1 c-5" style="background-image: url(/images/insta_8.jpg);"></div>
        <div class="card span-2 c-5" style="background-image: url(/images/insta_9.jpg);"></div>
        <div class="card span-1 c-2" style="background-image: url(/images/insta_10.jpg);"></div>
        <div class="card span-1 c-3" style="background-image: url(/images/insta_11.jpg);"></div>
        <div class="card span-1 c-3" style="background-image: url(/images/insta_12.jpg);"></div>

        <div class="card span-2 c-2" style="background-image: url(/images/avatar.jpg);"></div>
        <div class="card span-2 c-5" style="background-image: url(/images/insta_1.jpg);"></div>
        <div class="card span-1 c-2" style="background-image: url(/images/insta_3.jpg);"></div>
        <div class="card span-1 c-2" style="background-image: url(/images/insta_5.jpg);"></div>
        <div class="card span-1 c-4" style="background-image: url(/images/insta_7.jpg);"></div>


      </div>

</section>