<title>Kaushik prasath</title>
<meta name="description"/>
<meta charset="utf-8">
<meta name="author" content="Kaushik prasath">
<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1">



<style>
  table.display {
    table-layout: fixed;
  }


  td {
    overflow: hidden;
    /* this is what fixes the expansion */
    text-overflow: ellipsis;
    /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
  }
</style>