<title>Kaushik prasath</title>
<meta name="description" />
<meta charset="utf-8">
<meta name="author" content="Kaushik prasath">
<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/bootstrap/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Dancing+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rouge+Script|Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">


<style>
  table.display {
    table-layout: fixed;
  }


  td {
    overflow: hidden;
    /* this is what fixes the expansion */
    text-overflow: ellipsis;
    /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
  }
</style>