<section id="skills">
  <div class="container">
    <h1>Work</h1>
    <div class="block"></div>
    <div class="row" id="my-works">
      <div class="three columns">
        <img src="https://blogsimages.adobe.com/digitaleurope/files/2017/07/Image-How-Travel-Brands-Can-Use-and-Safeguard-Customer-Data-e1496020804925.png" class="image" alt="Work One" />
        <h5 class="image-title">DigiTour</h5>
      </div>
      <div class="three columns">
        <img src="https://cdn-images-1.medium.com/max/700/1*mLE5ZxhtATxrwh20SL2Tlg.png" class="image" alt="Work Two" />
        <h5 class="image-title">Chat App</h5>

      </div>
      <div class="three columns">
        <img src="https://d4oz43evw1m6y.cloudfront.net/static/images/2x/web-app-leaderboard-freebie-q3.jpg" class="image" alt="Work Three" />
        <h5 class="image-title">Leaderboard</h5>

      </div>
      <div class="three columns">
        <img src="https://cdn-images-1.medium.com/max/1600/0*EV6OOsdHgzYD_8UN.gif" class="image" alt="Work Four" />
        <h5 class="image-title">Todo App</h5>

      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="three columns">
        <img src="https://i.pinimg.com/736x/6b/0a/be/6b0abed97bc31422c0e808c3ea733d43--ui-inspiration-app-design.jpg" class="image" alt="Work Five" />
        <h5 class="image-title">Weather App</h5>

      </div>
      <div class="three columns">
        <img src="https://cdn.colorlib.com/wp/wp-content/uploads/sites/2/how-to-setup-website.jpg" class="image" alt="Work Six" />
        <h5 class="image-title">Responsive App</h5>
      </div>
      <div class="three columns">
        <img src="https://i.pinimg.com/originals/a7/0c/af/a70caf61d49cd2f7200b1edeae107bd2.png" class="image" alt="Work Seven" />
        <h5 class="image-title">Expensify</h5>

      </div>
      <div class="three columns">
        <img src="/images/indecision.png" class="image" alt="Work Eight" />
        <h5 class="image-title">Indecision</h5>

      </div>
    </div>
  </div>
</section>
