<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>

</head>

<body>


  <div class="code-wrapper">

    <% include partials/nav %>

      <div class="row">
        <div class="author-avatar">

        </div>
        <div class="row">

          <h1 class="author">Kaushik prasath</h1>
          <p class="quote-1">“Website without visitors is like a ship lost in the horizon.” </p>
        </div>
        <div id="sd-container">
          <div class="arrow"></div>
          <div class="arrow"></div>
        </div>
      </div>

      <% include partials/about %>

        <% include partials/gallery %>

          <% include partials/skills %>

            <% include partials/contact %>

              <% include partials/footer %>





                <% include partials/import-js %>
                  <script src="/bootstrap/js/main.js"></script>


                  <script type="text/javascript">
                    toastr.options = {
                      timeOut: 0,
                      positionClass: "toast-top-center",
                      newestOnTop: false,
                      showEasing: 'swing',
                      showMethod: 'slideDown',
                      preventDuplicates: true,
                      progressBar: true,
                      rtl: true,
                      closeButton: true

                    };

                    function handleSubmit() {
                      let name = $('#name').val();
                      let email = $('#email').val();
                      let message = $('#message').val();

                      $('#name').val('');
                      $('#email').val('');
                      $('#message').val('');

                      if ((name == 'undefined' || name == null || name == "")) {
                        return alert('Please enter your name');
                      }
                      if ((email == 'undefined' || email == null || email == "")) {
                        return alert('Please enter your email');
                      }
                      if ((message == 'undefined' || message == null || message == "")) {
                        return alert('Enter your message');
                      }

                      let uri = '/contact';
                      $.post(uri, {
                        "name": name,
                        "email": email,
                        "message": message
                      }, function(data) {
                        console.log(data);
                        if (data.code === 1) {
                          alert(`Thank you ${data.user.name} for your message!`);
                        }
                      });
                    }
                  </script>

</body>

</html>