<title>DigiTour</title>
<meta name="description" content="WinkWash admin portal" />
<meta charset="utf-8">
<meta name="author" content="Geeksynergy">
<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/images/Digitour_logo_128.png" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Dancing+Script" rel="stylesheet">



<style>
  table.display {
    table-layout: fixed;
  }


  td {
    overflow: hidden;
    /* this is what fixes the expansion */
    text-overflow: ellipsis;
    /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
  }
</style>